In [2]:
x=[11,12,13,15,15,19]
x[0:3]

[11, 12, 13]

In [3]:
x=[11,12,13,15,15,19]
x[2:len(x)]

[13, 15, 15, 19]

In [6]:
x=['E','D','U','C','A','T','I','O','N',]
x[3:5]

['C', 'A']

#slicing fasts
-> if starting from 0 index , you can skip it

In [10]:
name='william shakespeare'
fname = name[0:7]
lname = name[8:]
print(fname)
print(lname)

william
shakespeare

In [14]:
name='bhargav'
name[1 : : 2]

'hra'

In [6]:
name = "vijay deenanath chavhan"
fname = name [ : 5]
mname = name [6:15]
lname = name [-7:]
print (fname,mname,lname)

vijay deenanath chavhan

In [7]:
x=[1,2,3,4,5,6,7,9,11,13]
for item in x [::-1]:
    print(item)

13
11
9
7
6
5
4
3
2
1

In [9]:
a=[1,2,3]      
a[:]         #Get all elements

[1, 2, 3]

In [10]:
x=[1,2,3,4,5]
ans=x[2:]+x[:2]
print(x,ans)

[1, 2, 3, 4, 5] [3, 4, 5, 1, 2]

In [11]:
# comprehension



x=[1,3,4,5]
x2=[]
for i in x:
    s=i*2
    x2.append(s)
print(x,x2)

[1, 3, 4, 5] [2, 6, 8, 10]

In [12]:
x=[4,8,12,16]
x3=[]
for i in x:
    x3.append(i//2)
print(x,x3)

[4, 8, 12, 16] [2, 4, 6, 8]

In [14]:
x=[1,2,3]
y=[4,5,6]
xy=[]
for i,j in zip(x,y):
    xy.append(i+j)
print(x,y,xy,sep='\n')

[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [15]:
z=[2,3,4,]
zsqr=[]
for i in z:
    zsqr.append(i**2)
print(zsqr)

[4, 9, 16]

simple


newlist=[opertion for loop]

example: x2 =[i**2   for i in x]
         x3 =[a**3   for a in y]

condition Based

newlist = opertion loop condition 

example:
        xeven = [i for i in if i%2=0]
        songs=[file for file in data if file.ends with('mp3')]

Mapping

-> APPLY operation on data 

filtering 

->Apply filter on data

In [1]:
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [2]:
my_tuple = (1, "HELLO",3.4)
print(my_tuple)

(1, 'HELLO', 3.4)

In [3]:
my_tuple = ("mouse",[8,6,6],(1,2,3))
print(my_tuple)

('mouse', [8, 6, 6], (1, 2, 3))

In [4]:
my_tuple = 3,4,6, "apple"
print(my_tuple)

(3, 4, 6, 'apple')

In [5]:
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])
print(my_tuple[5])

p
t

In [6]:
n_tuple = ("mouse",[8,4,6],(1,2,3))

print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

In [1]:
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [2]:
print(("repeat",) * 3)

('repeat', 'repeat', 'repeat')

In [5]:
my_tuple = ('a','p','p','l','e',)
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3