In [3]:
a='apple'
b="banana"
c='''This is
 chocolate
   cake'''
print(a,b,c)

apple banana This is
 chocolate
   cake

typecasting

In [6]:
x=str(10)
y=str(["apple","banana"])
print(x,type(x))
print(y,type(y))

10 <class 'str'>
['apple', 'banana'] <class 'str'>

In [11]:
x='disappointed'
y=x[5:10]
print(f"the {y} is i am not {x}")

the point is i am not disappointed

In [18]:
poem="""jhonny johonny ,yes papa,
 easting suger? no papa,
 telling lies? no papa,
 open your mouth! haha ha!"""
print(poem)

jhonny johonny ,yes papa,
 easting suger? no papa,
 telling lies? no papa,
 open your mouth! haha ha!

In [1]:
s="maintain silence in library"
supper=s.upper()
print(supper)

MAINTAIN SILENCE IN LIBRARY

In [2]:
s="maintain silence in library"
supper=s.lower()
print(supper)

maintain silence in library

In [3]:
s="maintain silence in library"
supper=s.title()
print(supper)

Maintain Silence In Library

In [4]:
s="maintain silence in library"
supper=s.swapcase()
print(supper)

MAINTAIN SILENCE IN LIBRARY

In [5]:
s="maintain silence in library"
supper=s.casefold()
print(supper)

maintain silence in library

In [ ]:
s="maintain silence in library"
supper=s.capitalize()
print(s)
print(supper)

Maintain silence in library

In [8]:
a="seven"
size=len(a)
print(size)

5

In [11]:
a="seven"
al=a.ljust(10)
print(a)
print(a)

seven
seven

In [13]:
a='seven'
al=a.ljust(10)
print(a)
print(al)
a2=a.ljust(10,'-')
print(a2)
a3=a.rjust(20)
a4=a.rjust(20,'|')
a5=a.center(13)
a6=a.center(13,'*')
print(a3,a4,a5,a6,sep='\n')

seven
seven
seven-----
               seven
|||||||||||||||seven
    seven
****seven****

In [14]:
x=input()
print(x)

bhargav

In [18]:
x=input()
print(x.isalpha())
print(x.isalnum())
print(x.isdigit())
print(x.isspace())

True
True
False
False

In [1]:
num = 0
print(num)

0

In [4]:
num = 0
NUM = 5
print(num)

0

In [6]:
price = 10;
print(price)
price = 2
print(price);

10
2

In [7]:
quantity = 10
# quantity = 1
print(quantity)

10

string utility method

replace

In [3]:
s = "once upon a time"
s2 = s.replace ('once','twice')
print(s,s2)
s3 = s.replace('e','i')
print(s3)

once upon a time twice upon a time
onci upon a timi

In [4]:
# replace for removing content

data = 'py#t#h#o#n'
cleaned_data = data.replace('#','')
print (data,cleaned_data,sep='\n')

py#t#h#o#n
python

Find/index

In [7]:
m = "Alpine mountain range"
print(m.find('mountain'))
print(m.find('lion'))        # output : -1
print(m.find('pine'))        # output : 2
print(m.find('i'))
print(m.find('i',4))

7
-1
2
3
13

split & join

In [10]:
quote='''life before death,
         courang before desport
         journey before destination'''
print(quote.split())

['life', 'before', 'death,', 'courang', 'before', 'desport', 'journey', 'before', 'destination']

In [3]:
adder = ['MBU','sree sainath nagar','tirupati','AP','517102']
addr_str = ",".join(adder)
print(adder,addr_str,sep='\n')
addr2 = '_'.join(adder)
addr3 = '\n'.join(adder)
addr4 = 'what'.join(adder)
print(addr2,addr3,addr4,sep='\n')

['MBU', 'sree sainath nagar', 'tirupati', 'AP', '517102']
MBU,sree sainath nagar,tirupati,AP,517102
MBU_sree sainath nagar_tirupati_AP_517102
MBU
sree sainath nagar
tirupati
AP
517102
MBUwhatsree sainath nagarwhattirupatiwhatAPwhat517102

## Functions
## AND
## Modules

In [3]:
n = input("enter value")
if int(n)%2==0:
    print("even")
else:
    print("odd")

even